body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    display: flex;
    padding: 20px;
}

/* Cột trái */
.sidebar {
    width: 30%;
    padding-right: 20px;
}

.sidebar img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Cột phải */
.content {
    width: 70%;
}

.date {
    color: gray;
    font-size: 14px;
}

.big-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    margin: 15px 0;
}

