body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    background: white;
    padding: 20px;
}

.left {
    width: 30%;
    padding-right: 20px;
}

.right {
    width: 70%;
}

.small-img {
    background: #ccc;
    height: 60px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 60px;
}

.big-img {
    background: #ccc;
    height: 200px;
    margin: 15px 0;
    text-align: center;
    line-height: 200px;
}

.date {
    color: gray;
    font-size: 14px;
}

.image-row {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.image-row img {
    width: 22%;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
}
